.content {
    width: 100%;
    height: 100%;
    background: #000001;
  }
  .content img {
    width: 100%;
  }
  .leave {
    width: 60px;
    height: 25px;
    background: red;
    position: absolute;
    right: 10px;
    top: 6%;
    border-radius: 10px;
    font-size: 15px;
    background: #45baf4;
    text-align: center;
    line-height: 25px;
    z-index: 999;
    color: #fff;
  }
  .ad_bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 9999;
  }
  img {
    vertical-align: unset !important;
  }
  .vue-cropper {
    background: #000001 !important;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    } /*初始状态 透明度为0*/
    40% {
      opacity: 0;
    } /*过渡状态 透明度为0*/
    100% {
      opacity: 1;
    } /*结束状态 透明度为1*/
  }
  @-webkit-keyframes fade-in {
    /*针对webkit内核*/
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    } /*初始状态 透明度为1*/
    40% {
      opacity: 1;
    } /*过渡状态 透明度为1*/
    100% {
      opacity: 0;
    } /*结束状态 透明度为0*/
  }
  @-webkit-keyframes fade-out {
    /*针对webkit内核*/
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .wrapper {
    animation: fade-in; /*动画名称*/
    animation-duration: 1.5s; /*动画持续时间*/
    -webkit-animation: fade-in 1.5s; /*针对webkit内核*/
  }
  .vertical_wrapper{
    position: absolute;
    z-index: 999;
    top: 20%;
    width: 60px;
    display: flex;
    flex-direction: row;
    height: 270px;
    left:50%;
    margin-left:-30px;
  }
  .vertical_left{ 
    width:20px;
    font-size: 0.5rem;
    color: #45baf4;
    margin-right:20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

  }
  .vertical_right{
    width:20px;
    font-size: 0.5rem;
    color: #45baf4;
    display: flex;
    align-self: flex-end;
    flex-direction: column;

    
  }
