/**
 * 作品：reset.css
 * 维护：华霆
 * 更新：2018年7月18日
 * 理念：1. 适应中文，基于最新主流浏览器
 *       2. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
 *       3. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
 */

/* 清除内外边距 */
@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
pre,dl, dt, dd, ul, ol, li,
form, fieldset, lengend, button, input, textarea,
th, td { margin: 0; padding: 0;user-select:none; }

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */

/* 使得表单元素在 ie 下能继承字体大小 */
button, textarea { font-size: 100%; border: 0; }

/* img 搭车：让链接里的 img 无边框 */
fieldset, img { border: 0; }

/* 重置表格元素 */
table { border-collapse: collapse; border-spacing: 0; }

/* 文字选中效果 */
::selection { background-color: #b3d4fc; text-shadow: none; }

/* 清除浮动 */
.fl { float: left; }
.fr { float: right; }
.clearfix:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }
.clearfix { zoom: 1; }

/* 显示隐藏 */
.hide { display: none; }
.show { display: block; }

/* 移动设备 */
body {
   font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'; 
   /* user-select: none;  */
   -webkit-text-size-adjust: none; 
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
/* 解决ios无法输入 */
[contenteditable="true"],
input,
textarea {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}
/*重写加载动画*/

#loaderWrap {
  transition: all 1s cubic-bezier(1, 0, 0.58, 1)
}

.loader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height:100%;
  z-index: 999;
}

.Loading {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999
}

.laodingCon {
  width: 50px;
  height: 120px;
}

.ball {
  -webkit-animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  -ms-animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  -moz-animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  height: 3rem;
  width: 3rem;
  position: relative;
  top:50%;
  left:50%;
  margin-top:-1.5rem;
  margin-left:-1.5rem;
  background: url('http://118.25.6.169:88/loading_chicken.gif') no-repeat center;
  background-size: 100%
}

.ballshadow {
  -webkit-animation: shadow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  animation: shadow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  background: #000;
  bottom: -90px;
  height: 15px;
  width: 1.5rem;
  top:45%;
  left:50%;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  border-radius: 100%;
  margin-left: -0.75rem;
  position: relative;
}

@-webkit-keyframes ball {
  0% {
    -webkit-transform: translateY( 0);
    transform: translateY( 0);
  }
  100% {
    -webkit-transform: translateY( -50px);
    transform: translateY( -50px);
  }
}

@keyframes ball {
  0% {
    -webkit-transform: translateY( 0);
    transform: translateY( 0);
  }
  100% {
    -webkit-transform: translateY( -50px);
    transform: translateY( -50px);
  }
}

@-webkit-keyframes shadow {
  0% {
    opacity: 0.2;
    -webkit-transform: scale( 0.3);
    transform: scale( 0.3);
  }
  100% {
    opacity: 0.05;
    -webkit-transform: scale( 1);
    transform: scale( 1);
  }
}

@keyframes shadow {
  0% {
    opacity: 0.2;
    -webkit-transform: scale( 0.3);
    transform: scale( 0.3);
  }
  100% {
    opacity: 0.05;
    -webkit-transform: scale( 1);
    transform: scale( 1);
  }
}
/* 上传加号图标 */
.icon_jia {
  color: #333333;
  font-size: 1.4rem;
  margin: 0.8rem;
  margin-left:0.2rem;
  padding: 0.5rem;
  font-size:3.3rem;
  width:4.25rem;
  height:4.25rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  border: 1px solid #ddd;
  color: #ddd;
  border-radius: 0.3rem;
  float: left;
}
.image-close{
    color: #fff;
    border-radius: 1rem;
    font-size: .1rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    margin-left: 3.0rem;
    margin-top: -0.8rem;
    line-height: 1rem;
    text-align: center;
}
/* 分散对齐 */
.justify {
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: justify;
  -moz-text-align-last: justify;
}

.yd-scrollview:after {
  content: "";
  display: block;
  width: 100%;
  height: 0rem!important;
}
/* .yd-tabbar-icon{
  line-height: 0.44rem;
  height: 0.44rem;
}
.yd-tabbar-txt{
  line-height: 0.3rem;
  height: 0.3rem;
} */
.yd-mask{
  margin: 0 auto;
  max-width: 750px;
  min-width: 300px;
}
.yd-actionsheet{
  margin: 0 auto;
  max-width: 750px;
  min-width: 300px;
  left:unset!important;
}